webservice/src/test/resources/dataset.dtd

<!ELEMENT dataset (
   (authorities|
    company|
    computer|
    users)*)>

<!ELEMENT authorities EMPTY>
<!ATTLIST authorities
    username CDATA #REQUIRED
    authority CDATA #REQUIRED
>

<!ELEMENT company EMPTY>
<!ATTLIST company
    id CDATA #REQUIRED
    name CDATA #IMPLIED
>

<!ELEMENT computer EMPTY>
<!ATTLIST computer
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    introduced CDATA #IMPLIED
    discontinued CDATA #IMPLIED
    company_id CDATA #IMPLIED
>

<!ELEMENT users EMPTY>
<!ATTLIST users
    username CDATA #REQUIRED
    password CDATA #REQUIRED
    enabled CDATA #IMPLIED
>

